.signup-main{
    /* background-color: red; */
    max-width: 100vw;
    height: 100vh;
    display: flex;
}
.signup-left{
    width: 100%;
    
}
.signup-heading{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(73, 72, 72);
}


.form-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-content{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    gap: 0.6rem;

    /* align-items: center; */
}
.input-field{
    /* border: none; */
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid grey;
    color: grey;
}
.btn-signup{
    padding: 1rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(122,170,224);
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;

}


.row1{
    display: flex;
    padding-top: 2rem;
    /* background-color: red; */
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
