.dashboard-main{
    max-width: 100vw;
}
.dash-header{
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 7rem;
    background-color: rgba(255, 123, 0, 0.824);
}
.dashitems{
    /* color: rgba(255, 123, 0, 0.824); */
    color: white;
    font-size: 1.9rem;
    font-weight: 600;
    
}
.profile{
    /* background-color: rgba(255, 123, 0, 0.824); */
    padding: 0.7rem;
    border: none;
    border-radius: 50%;
    color: grey;
    font-size: 1.2rem;
    cursor: pointer;
}
.dash-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    flex-direction: column;
}
.dash-heading{
    /* background-color: red; */
    width: 100%;
    padding-left: 5rem;
    color: rgb(97, 96, 96);
    font-size: 1.7rem;
}
.dash-main-body{
    /* background-color: red; */
    width: 60%;
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    box-shadow: 6px 5px 38px -15px rgba(0,0,0,0.75);
}
.row1{
    display: flex;
    gap: 2rem;
    /* background-color: red; */
}
.row2{
    display: flex;
    /* gap: 2rem; */
    /* background-color: red; */
}
.item-name{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(64, 63, 63);
}
.item-content{
    font-size: 1.4rem;
    color: rgb(121, 120, 120);
    text-align: justify;
}